table {
    width: 100%;
  }
  
  .field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }

  .positive {
    background-color: lightgreen;
}

  .negative {
    background-color: lightcoral;
}

.pointerCursor{
  cursor: pointer;
}