<mat-toolbar color="primary" class="header">
  <div class="headerleft">
    <img class="img-responsive" src="assets/images/favicon.ico" />
    <h1>Angular Application</h1>
    <div class="nav-links">
      <a mat-stroked-button routerLink="/Home" style="margin-right: 5px" routerLinkActive="is-active">
        Home
      </a>
      <a *ngIf="isLoggedIn" mat-stroked-button routerLink="/Employees" style="margin-right: 5px"
        routerLinkActive="is-active">
        Employees
      </a>
      <a *ngIf="isLoggedIn" mat-stroked-button routerLink="/edit/0" style="margin-right: 5px"
        routerLinkActive="is-active">
        Create-employee
      </a>
    </div>
    <div class=" login_register">
      <a mat-stroked-button routerLink="/signIn" *ngIf="!isLoggedIn" style="margin-right: 5px"
        routerLinkActive="is-active">
        SignIn
      </a>
      <a mat-stroked-button routerLink="/register" *ngIf="!isLoggedIn" style="margin-right: 5px"
        routerLinkActive="is-active">
        Register
      </a>
      <a mat-stroked-button routerLink="/register" *ngIf="isLoggedIn" style="margin-right: 5px"
        routerLinkActive="is-active" (click)="logout()">
        Logout
      </a>
    </div>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>