.example-container {
  display: flex;
  flex-direction: column;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

.Buttons button,
.Buttons a {
  margin-right: 8px;
}

.example-card {
  max-width: 1500px;
  height: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: lightsalmon;
}

.positive {
  background-color: lightgreen;
}

.negative {
  background-color: lightcoral;
}